body {
}

.btn-primary {
  --mdb-btn-bg: #f4b120;
  --mdb-btn-color: #fff;
  --mdb-btn-box-shadow: 0 4px 9px -4px #f4b120;
  --mdb-btn-hover-bg: #f4b120;
  --mdb-btn-hover-color: #fff;
  --mdb-btn-focus-bg: #f4b120;
  --mdb-btn-focus-color: #fff;
  --mdb-btn-active-bg: #f4b120;
  --mdb-btn-active-color: #fff;
  --mdb-btn-box-shadow-state: 0 8px 9px -4px rgba(0, 0, 0, 0.3), 0 4px 18px 0 rgba(0, 0, 0, 0.2);
}
.form-check-input[type=checkbox]:checked {
  background-color: #f4b120;
}
.form-check-input:checked {
  border-color: #f4b120;
}
.form-check-input[type=checkbox]:checked:focus {
  background-color: #f4b120;
}
.form-check-input:checked:focus {
  border-color: #f4b120;
}
.form-check-input:checked:focus:before {
  box-shadow: 0px 0px 0px 13px #f4b120;
}

*{
  --mdb-primary: #f4b120;
  --mdb-primary-rgb: 244, 177, 32;
  --mdb-primary-text-emphasis: #f4b120;
  --mdb-link-color: #f4b120;
  --mdb-link-hover-color: #f4b120;
  --mdb-link-color: #f4b120;
  --mdb-link-hover-color: #f4b120;
  --mdb-link-color-rgb: 244, 177, 32;
  --mdb-link-hover-color-rgb: 244, 177, 32;
  --mdb-primary-bg-subtle: #222222;
  --mdb-btn-hover-bg: #444444;
  --mdb-nav-tabs-link-active-color: #f4b120 !important;
  --mdb-nav-tabs-link-active-border-color: #f4b120 !important;
}

@media (min-width: 1400px) {
  main,
  header,
  #main-navbar {
    padding-left: 240px;
  }
}
